.modal {  
  width: 240px;
  height: 104px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  top: 208px;
  right: 285px;

  padding: 12px 16px;
  border-radius: 4px;

  opacity: 0;
  pointer-events: none;  
  transition: all 0.3s ease-in-out;
}

.modal.enter-done {
  opacity: 1;
  pointer-events: visible;
}

.modal-content {
  width: 240px;
  height: 104px;

  padding: 12px 16px;
  border-radius: 4px;

  box-shadow: 0px 4px 12px 0px #00000026;

  background-color: #fff;

  transition: all 0.3s ease-in-out;
  transform: translateY(-200px);
}

.modal.enter-done .modal-content {
  transform: translateY(0);
}

.modal.exit .modal-content {
  transform: translateY(-200px);
}

.modal-body{
  display: flex;
}
.modal-image{
  margin-right: 9px;
}

p{
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  margin: 0 0 12px 0;
}
.modal-footer{
  display: flex;
  flex-direction: row-reverse;
}
.button-ok,
.button-no{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;

  border-radius: 4px;
  padding: 1px 8px;

  border: 1px solid #D9D9D9;
  border-radius: 4px;

  color: #595959;

  background-color: #FFFFFF;

  cursor: pointer;
}
.button-ok:hover,
.button-no:hover {
  color: #FFFFFF;

  background-color: #1890FF;
}
.button-no{
  margin-right: 8px;
}